{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    
{# <form method="post" action="{{path('app_register')}}"> #}
     <div style='margin:25px'>
    
     {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        <br>
        {{ form_row(registrationForm.address) }}
        <br>
        {{ form_row(registrationForm.Password, {
         label:'Password'
        }) }}
        <br>
        
        {{ form_row(registrationForm.agreeTerms) }} 
        <br>
         {{ form_row(registrationForm.Images) }}
         <br>
    {{ form_end(registrationForm) }} 
    <br>
    {# <input type="submit" name="submit" value="Register"> #}
 </form>
 </div>
{% endblock %}
